{layout name="layouts/studentlayout" /}
<style>
    .page_items .pagination {
        display: inline-flex;
    }

    .page_items .pagination .page-item .page-link {
        font-size: 1.2rem;
    }

    .page-inner .nav > li > a:hover {
        text-decoration: none;
        color: #000000;
    }

    .page-inner .nav > li > a {
        color: #545a5f;
    }
</style>

<section>
    <div class="caption wrapper-lg">
        <div class="m-b-md">
            <h3 class="m-b-none">你好，{$curUserInfo.name}</h3>
        </div>
        <p>最近登录</p>
        <div class="post-sum">
            {volist name='login_time' id='val'}
                <p>{$val|date='Y-m-d H:i:s',###}</p>
            {/volist}
        </div>
    </div>
</section>