<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8"/>
    <title>BIGDATA</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script type="text/javascript" src="__STATIC__/js/jquery-3.3.1.min.js"></script>
    <link rel="shortcut icon" href="__STATIC__/img/favicon.png"/>
    <script type="text/javascript" src="__STATIC__/js/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/js/commom.js"></script>
    <link rel="stylesheet" href="__STATIC__/js/layui/css/layui.css">
    <script src="__STATIC__/js/zui/js/zui.js"></script>
    <link rel="stylesheet" href="__STATIC__/js/zui/css/zui.css">
    <script src="__STATIC__/js/zui/lib/uploader/zui.uploader.js"></script>
    <link rel="stylesheet" href="__STATIC__/js/zui/lib/uploader/zui.uploader.css">
</head>
<style>
    #myform .layui-form-label{
        width: 100px;
    }

</style>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
</fieldset>

<form class="layui-form" action="{:url('index/teacherProfileSave')}" id="myform"  enctype="multipart/form-data" method="POST">
    <input type="hidden" value="{$info['id']?$info['id']:''}" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">视频名</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$info['name']?$info['name']:''}" autocomplete="off" placeholder="请输入用户名" class="layui-input require">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属课程</label>
        <div class="layui-input-block">
            <select name="lesson_id" lay-filter="type">
                <option value=""></option>
                {volist name='lesson' id='value'}
                <option value="{$value.id}" {$info['lesson_id']?($info['lesson_id']==$value['id']?'selected':''):''}>{$value.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="intro">{$info['intro']?$info['intro']:''}</textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">视频</label>
        <div class="layui-input-block">
            <div id='uploader1' class="uploader">
                <div class="uploader-message text-center">
                    <div class="content"></div>
                    <button type="button" class="close">×</button>
                </div>
                <div class="uploader-files file-list file-list-lg" data-drag-placeholder="请拖拽文件到此处"></div>
                <div class="uploader-actions">
                    <div class="uploader-status pull-right text-muted"></div>
                    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择文件</button>
                    <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>
                </div>
            </div>
        </div>
        <input class="uploader1_input" type="hidden" name="path" value="{$info['path_str']?$info['path_str']:''}">
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">附件</label>
        <div class="layui-input-block">
            <div id='uploader2' class="uploader">
                <div class="uploader-message text-center">
                    <div class="content"></div>
                    <button type="button" class="close">×</button>
                </div>
                <div class="uploader-files file-list file-list-lg" data-drag-placeholder="请拖拽文件到此处"></div>
                <div class="uploader-actions">
                    <div class="uploader-status pull-right text-muted"></div>
                    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择文件</button>
                    <!--<button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>-->
                </div>
            </div>
        </div>
        <input class="uploader2_input" type="hidden" name="attachment" value="{$info['attachment_str']?$info['attachment_str']:''}">
    </div>
</form>
<script type="text/javascript">
    $('#uploader1').uploader({
        url: '{:url("index/videoUpload")}'
        ,filters:{
            mime_types: [
                {title: '视频', extensions: 'avi,mp4,flv,wmv,rmvb'},
            ],
            max_file_size: '1024mb',
            prevent_duplicates: true // 不允许上传重复文件
        }
        ,staticFiles: {$info["path"]?$info["path"]:'[]'}
        ,chunk_size:0
        ,limitFilesCount:1//最大数量
        ,multi_selection:false //是否能同时选择多个文件
        ,lang:'zh_cn'
        ,rename:false
        ,renameByClick:false
        ,deleteActionOnDone: function(file, doRemoveFile) {
            doRemoveFile();
            $('.uploader1_input').val('');
        }
        ,onUploadFile: function(file,responseObject) {
            // console.log('成功');
        }
        ,responseHandler: function(responseObject, file) {
            var data = $.parseJSON(responseObject.response);

            if(data.is_ok == 'ok'){
                $('.uploader1_input').val(file.name+'_|_'+data.file_name+'_|_'+data.file_url+'_|_'+file.loaded);
            }else{
                new $.zui.Messager(data.msg, {
                    type: 'danger'
                }).show();
            }
        }
    });

    var attachments = {$info['attachment_init_obj']?$info['attachment_init_obj']:'[]'};

    $('#uploader2').uploader({
        autoUpload:true
        ,url: '{:url("index/attachUpload")}'
        ,filters:{
            // mime_types: [
            //     {title: '视频', extensions: 'avi,mp4,flv,wmv,rmvb'},
            // ],
            max_file_size: '1024mb',
            prevent_duplicates: true // 不允许上传重复文件
        }
        ,staticFiles: {$info["attachment"]?$info["attachment"]:'[]'}
        ,chunk_size:0
        ,limitFilesCount:9//最大数量
        // ,multi_selection:false //是否能同时选择多个文件
        ,lang:'zh_cn'
        ,rename:false
        ,renameByClick:false
        ,deleteActionOnDone: function(file, doRemoveFile) { //因为一般不会
            delete(attachments[file.file_name]);
            var attach_vals = Object.values(attachments);
            $('.uploader2_input').val(attach_vals.join(','));
            doRemoveFile();
        }
        ,onUploadFile: function(file) {
            // console.log(file);
        }
        ,responseHandler: function(responseObject, file) {
            var data = $.parseJSON(responseObject.response);

            if(data.is_ok == 'ok'){
                //{'原始文件名'：'原始文件名_|_上传后生成的文件名_|_上传后生成的地址_|_上传后的大小'}
                attachments[file.remoteData.file_name] = file.name+'_|_'+data.file_name+'_|_'+data.file_url+'_|_'+file.loaded;
                var attach_vals = Object.values(attachments);
                $('.uploader2_input').val(attach_vals.join(','));
            }else{
                new $.zui.Messager(data.msg, {
                    type: 'danger'
                }).show();
            }
        }
    });
    layui.use(['form', 'layer','layedit', 'laydate','upload'], function(){
        var form = layui.form;
    });
</script>
</body>
</html>