{layout name="layouts/teacherlayout" /}
<style>
    .page_items .pagination {
        display: inline-flex;
    }

    .page_items .pagination .page-item .page-link {
        font-size: 1.2rem;
    }

    .page-inner .nav > li > a:hover {
        text-decoration: none;
        color: #000000;
    }
    .page-inner .table td,th{
        color: #545a5f;
        font-weight: normal;
    }

    .page-inner .nav > li > a {
        color: #545a5f;
    }

    #myform .layui-form-label{
        /*width: 14%;*/
        width: 100px;
    }
    #myform .layui-upload-img{
        width: 20%;
    }
    #myform .layui-form-item .layui-input-inline{
        margin-left: 10px;
        margin-right: 0px;
    }
</style>
<div class="m-b-md">
    <h3 class="m-b-none text-black">添加视频</h3>
</div>

<form class="layui-form" action="{:url('index/teacherProfileSave')}" id="myform"  enctype="multipart/form-data" method="POST">
    <input type="hidden" value="{$info['id']?$info['id']:''}" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">视频名</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$info['name']?$info['name']:''}" autocomplete="off" placeholder="请输入用户名" class="layui-input require">
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="intro"></textarea>
        </div>
    </div>
    <div class="layui-upload">
        <button type="button" class="layui-btn layui-btn-normal" id="testList">添加</button>
        <div class="layui-upload-list">
            <table class="layui-table">
                <thead>
                <tr><th>单位名称</th>
                    <th>文件名</th>
                    <th>上传进度</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr></thead>
                <tbody id="demoList"></tbody>
            </table>
        </div>
        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button type="button" class="layui-btn profile-submit" >提交</button>
        </div>
    </div>
    <button type="button" class="layui-btn" id="chooseFile">
        <i class="layui-icon">&#xe67c;</i>选择文件
    </button> 文件名称: <span id="fileName"></span>
    <div style="height: 20px;"></div>
    <button type="button" class="layui-btn" id="uploadBtn">
        <i class="layui-icon">&#xe67c;</i>上传文件
    </button>
    <div style="height: 20px;"></div>
    <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressBar">
        <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
    </div>
</form>

<script>
    var upload = layui.upload,
        element = layui.element;
    element.init();


    upload.render({
        elem: '#chooseFile', // 文件选择
        accept:'file',
        url: '{:url("admin/upload")}',
        auto: false, // 设置不自动提交
        bindAction: '#uploadBtn', // 提交按钮
        progress: function(e , percent) {
            console.log("进度：" + percent + '%');
            element.progress('progressBar',percent  + '%');
        },
        choose: function(obj) {
            obj.preview(function(index, file, result) {
                $("#fileName").html(file.name);
            });
        },
        done: function(res) {
            console.log(res);
            layer.msg(res.msg);
        },
        error: function(res) {
            layer.msg(res.msg);
        }
    });
    //上传文件
    file_upload_manager.croppersUpload('{:url("admin/upload")}',{},'#test1',function (res,index) {
        if(res.is_ok != 'ok'){
            layer.msg('上传失败');
        }else{
            var file_url = '__STATIC__/'+res.file_url;
            $('#demo1').attr('src', file_url);
            $('#poster').val(res.file_url);
            layui.layer.close(index);
            layer.msg('上传成功');
        }
    });
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,format:'yyyy-MM-dd'
        });
    });

    $('.profile-submit').on('click',function () {
        layui.use(['form','layer'], function() {
            var layer = layui.layer;
            var params = $('#myform').serialize();

            ajax_request.post("{:url('index/teacherProfileSave')}",params,function (data) {
                if(data.is_ok=='ok'){
                    location.reload();//刷新页面
                    layer.msg(data.msg,{icon:1});
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            });
            return false;
        });
        return false;
    })
</script>