{layout name="layouts/layout" /}
<section class="scrollable padder-lg padder-v page-inner">
  <div class="tab-pane" id="{$type==1?'comment':'question'}">
    <div class="text-center wrapper hidden is_loadding_dom">
      <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
    </div>
    <section class="comment-list block">
      {eq name="$comques|count" value='0'}
      <p class="text-center">暂无信息</p>
      {/eq}
      {volist name='comques' id='item'}
      <article id="comment-id-{$item.id}" class="comment-item">
        <a class="pull-left thumb-sm avatar"><img src="__STATIC__/{$item.avatar}" alt="..."></a>
        <span class="arrow left"></span>
        <section class="comment-body panel panel-default">
          <header class="panel-heading">
            <a href="#">{$item.student_name}</a>
            <label class="label bg-success m-l-xs">学员</label>
            <span class="text-muted m-l-sm pull-right">
              <i class="fa fa-clock-o"></i>
              {$item.create_time|date='Y-m-d H:i',###}
            </span>
          </header>
          <div class="panel-body">
            <div>{$item.content}</div>
            <div class="comment-action m-t-sm">
              {if condition="(!empty($user)) and ($user.id eq $item.uid)"}
              <button data-href="{:url('index/commentDel',['id'=>$item.id])}" class="btn btn-default btn-xs btn-comment-del">
                <i class="fa fa-trash-o text-muted"></i>
                删除
              </button>
              {/if}
              {if condition="$type eq 2"}
                <a href="{:url('index/questionDetail',['id'=>$item.id])}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-mail-reply text-muted"></i> 回复</a>
              {/if}
            </div>
          </div>
        </section>
      </article>
      {/volist}
      <!-- comment form -->
      {if condition="$user_type neq 2"}
      <article class="comment-item media" id="comment-form">
        <a class="pull-left thumb-sm avatar"><img src="{$user_type==1?'__STATIC__'.$user['avatar']:'__STATIC__/img/default_avatar.jpg'}" alt="..."></a>
        <section class="media-body">
          <form action="index.html" class="m-b-none">
            <div class="input-group">
              <input type="text" name="commentTitle" class="form-control" placeholder="{$type==1?'请输入评论':'请输入提问主题'}">
              <textarea id="commentContent" name="commentContent" style="display: none;"></textarea>
              <span class="input-group-btn">
                <button class="btn btn-primary saveCommentbtn" type="button"
                        data-href="{:url('index/saveComment',['type'=>$type==1?'1':'2','user_type'=>$user_type])}">提交</button>
              </span>
            </div>
          </form>
        </section>
      </article>
      {/if}
    </section>
    <div class="row text-center page_items">
      {$comques->render()}
    </div>
  </div>
</section>