{layout name="layouts/layout1" /}
<style>
  .page-inner .video_params .list-group-item,.panel{
    background-color:#f2f4f8;
  }
  .page-inner .video_params .panel{
    border: none;
  }
  .page-inner .suggestion {
    background-color: white;
  }
   .nav > li > a:hover {
    text-decoration: none;
    color: #000000;
  }
   .page-inner .nav > li:hover {
    background-color: #edf2f3;
  }
   .page-inner .list-group-item {
     margin-bottom: 0px;
     border: none;
     border-bottom: 1px solid #ddd;
  }
  .page-inner .files-list div{
    padding-left: 0px;
    padding-right: 0px;
  }
</style>
  <div class="row">
      <div class="col-sm-12">
        <div class="panel clearfix">
          <div class="panel-body">
            <a href="#" class="thumb pull-left m-r">
              <img src="__STATIC__/{$video.avatar}" class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="text-info">@{$video.teacher_name}</a>
              <!--<small class="block text-muted">2,415 followers / 225 tweets</small>-->
              <!--<a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>-->
            </div>
          </div>
        </div>
      </div>
  </div>
   <div class="row">
      <div class="col-sm-8">
        <div class="panel">
          <!-- video player -->
          <div id="jp_container_1" class="teacher_info">
            <div class="jp-type-single pos-rlt">
              <div id="jplayer_1" class="jp-jplayer jp-video" style="width: 100%; height: auto;">
                <video id="vplay" src="__STATIC__/{$video.path}" poster="__STATIC__/{$lesson.poster}" style="width: 100%;object-fit: fill"  controls="controls"></video>
              </div>
            </div>
          </div>
          <!-- / video player -->
          <div class="padder-v">
            <h3 class="m-t-none text-black">{$video.name}</h3>
            <div class="post-sum">
                <p>{$video.intro}</p>
            </div>
            <p style="margin: 0px">附件：</p>
            <div class="post-sum col-sm-12 no-padder files-list">

              <div class="col-md-4 col-sm-6">
                <i class="fa fa-save"></i>
                附件一
              </div>

            </div>
            <div class="line b-b"></div>
            <div class="text-muted">
              <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">{$video.teacher_name}</a>
              <i class="fa fa-clock-o icon-muted"></i> {$video.create_time|date='Y-m-d H:i',###}
            </div>
          </div>
          <h4 class="m-t-lg m-b">课程相关</h4>
          <section class="panel-default">
            <header class="panel-heading bg-light">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#home" data-toggle="tab">课程目录</a></li>
                <li><a href="#profile" data-toggle="tab">课程介绍</a></li>
                <li><a href="#comment" data-toggle="tab">评论</a></li>
                <li><a href="#question" data-toggle="tab">问答</a></li>
              </ul>
            </header>
            <div class="panel-body" style="background-color: white">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="list-group">
                    {volist name='video_list' id='vd'}
                    <a href="{:url('index/details',['id'=>$vd.lesson_id,'video_id'=>$vd.id])}" class="list-group-item">
                      <i class="fa fa-play-circle icon-muted fa-fw" style="color: #000000;font-size: 16px;"></i> {$vd.name}
                    </a>
                    {/volist}

                  </div>
                </div>
                <div class="tab-pane" id="profile">profile</div>
                <div class="tab-pane" id="comment">message</div>
                <div class="tab-pane" id="question">settings</div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-sm-4 video_params">
          <div class="panel panel-default">
            <!--<div class="panel-heading">Suggestions</div>-->
            <ul class="list-group">
              <li class="list-group-item">
                <div class="">
                  <i class="icon-drawer"></i>
                  <span class="badge pull-right">{$lesson.typename}</span>
                  所属区
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-eye"></i>
                  <span class="badge pull-right">200</span>
                  观看量
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-like"></i>
                  <span class="badge pull-right">30</span>
                  点赞量
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-heart"></i>
                  <span class="badge pull-right">30</span>
                  收藏量
                </div>
              </li>
            </ul>
            {if condition="count($suggestion) neq 0 "}
            <div class="panel-body m-t-sm suggestion">
              <!--<article class="media">-->
                <!--<a href="#" class="thumb-lg m-t-xs" style="width: auto">-->
                  <!--<img src="/bigdata/public/static/\uploads\poster\5c31a1d68b39c.jpg">-->
                <!--</a>-->
                <!--<div class="media-body">-->
                  <!--<a href="#" class="font-semibold" title="课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3">课程3课程3课程3课程3课程3...</a>-->
                <!--</div>-->
              <!--</article>-->
              {volist name='suggestion' id='sugs'}
              <article class="media">
                <a href="{:url('index/details',['id'=>$sugs.id])}" class="pull-left thumb-lg m-t-xs">
                  <img src="__STATIC__/{$sugs.poster}">
                </a>
                <div class="media-body">
                  <a href="{:url('index/details',['id'=>$sugs.id])}" class="font-semibold" title="{$sugs.name}">{$sugs.name|msubstr=0,15,'utf-8',true}</a>
                  <div class="text-xs block m-t-xs"><i class="icon-fire"></i> {$sugs.hits}
                  </div>
                </div>
              </article>
              {/volist}
            </div>
            {/if}
          </div>
        </div>
    </div>
<script>
    $(document).ready(function(){
        var myvideo=document.getElementById("vplay");

        $("#vplay").click(function(){
            if(myvideo.paused){
                myvideo.play();
            }
            else{
                myvideo.pause();
            }
        });
    });
</script>