{layout name="layouts/layout1" /}
<style>
  .page-inner .video_params .list-group-item,.page-inner .panel{
    background-color:#f2f4f8;
  }
  .page-inner .video_params .panel{
    border: none;
  }
  .page-inner .suggestion {
    background-color: white;
  }
  .page-inner .nav > li > a:hover {
    text-decoration: none;
    color: #000000;
  }
  .page-inner .nav > li > a {
    color: #545a5f;
  }
   .page-inner .nav > li:hover {
    background-color: #edf2f3;
  }
   .page-inner .list-group-item {
     margin-bottom: 0px;
     border: none;
     border-bottom: 1px solid #ddd;
  }
  .page-inner .files-list div{
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-inner .tab-content > .tab-pane {
    min-height: 15rem;
  }
  .page-inner .lesson-intro img{
    width: 100%;
  }
  .page-inner .page_items .pagination{
    display: inline-flex;
  }
</style>
  <div class="row">
      <div class="col-sm-12">
        <div class="panel clearfix">
          <div class="bg hidden-xs ">
              <div class="clearfix">
                <a href="#" class="pull-left thumb-md avatar b-3x m-r">
                  <img src="__STATIC__/{$video.avatar}" alt="...">
                </a>
                <div class="clear">
                  <div class="h3 m-t-xs m-b-xs text-dark" style="color: #333333">
                    <a href="#" class="text-info">{$video.teacher_name}</a>
                  </div>
                  <small class="text-muted">{$lesson.name}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
   <div class="row">
      <div class="col-sm-8">
        <div class="panel">
          <!-- video player -->
          <div id="jp_container_1" class="teacher_info item">
            <div class="jp-type-single pos-rlt">
              <div id="jplayer_1" class="jp-jplayer jp-video" style="width: 100%; height: auto;">
                <video id="vplay" src="__STATIC__/{$video.path}" poster="__STATIC__/{$lesson.poster}" style="width: 100%;object-fit: fill"  controls="controls"></video>
              </div>
            </div>
          </div>
          <!-- / video player -->
          <div class="padder-v">
            <h3 class="m-t-none text-black">{$video.name}</h3>
            <div class="post-sum">
                <p>{$video.intro}</p>
            </div>
            {neq name="$attachment|count" value="0"}
              <p style="margin: 0px">附件：</p>
              <div class="post-sum col-sm-12 no-padder files-list">
                {volist name='attachment' id='attach'}
                <div class="col-md-4 col-sm-6">
                 {$attach.file_name}
                 <a href="__STATIC__/{$attach.file_url}" download="{$attach.file_name}"><i class="text-success icon-arrow-down"></i></a>
                </div>
                 {/volist}
               </div>
            {/neq}
            <div class="line b-b"></div>
            <div class="text-muted">
              <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">{$video.teacher_name}</a>
              <i class="fa fa-clock-o icon-muted"></i> {$video.create_time|date='Y-m-d H:i',###}
            </div>
          </div>
          <h4 class="m-t-lg m-b">课程相关</h4>
        </div>
      </div>
      <div class="col-sm-4 video_params">
          <div class="panel panel-default">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="">
                  <i class="icon-drawer"></i>
                  <span class="badge pull-right">{$lesson.typename}</span>
                  所属区
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-eye"></i>
                  <span class="badge pull-right">{$hits}</span>
                  观看量
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <a class="thumbsSavebtn" href="#" data-href="{:url('index/thumbsUpSave',['id'=>$video.id,'type'=>1])}" title="点击收藏/取消点赞本视频"><i class="icon-like {$is_thumbs_uped?'text-success':''}"></i></a>
                  <span class="badge pull-right">{$thumbs}</span>
                  点赞量
                </div>
              </li>
              {eq name="$user_type" value='1'}
              <li class="list-group-item">
                <div class="">
                  <a class="curriculumSavebtn" data-href="{:url('index/curriculumSave',['id'=>$lesson.id])}" title="加入到我的课程表/从我的课程表中删除"><i class="icon-calendar"></i> 加入我的课程表</a>
                </div>
              </li>
              {/eq}
            </ul>
            {if condition="count($suggestion) neq 0 "}
            <div class="panel-body m-t-sm suggestion">
              {volist name='suggestion' id='sugs'}
              <article class="media">
                <a href="{:url('index/details',['id'=>$sugs.id])}" class="pull-left thumb-md m-t-xs">
                  <img src="__STATIC__/{$sugs.poster}">
                </a>
                <div class="media-body">
                  <a href="{:url('index/details',['id'=>$sugs.id])}" class="font-semibold" title="{$sugs.name}">{$sugs.name|msubstr=0,15,'utf-8',true}</a>
                  <div class="text-xs block m-t-xs"><i class="icon-fire"></i> {$sugs.hits}
                  </div>
                </div>
              </article>
              {/volist}
            </div>
            {/if}
          </div>
        </div>
    </div>
  <section class="panel-default">
  <header class="panel-heading bg-light">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#home" data-toggle="tab">课程目录</a></li>
      <li><a href="#profile" data-toggle="tab">课程介绍</a></li>
      <li><a class="getCommentBtn" href="#comment" data-href="{:url('index/getComment',['type'=>1,'id'=>$video.id])}" data-toggle="tab">评论</a></li>
      <li><a class="getQuestionBtn" href="#question" data-href="{:url('index/getComment',['type'=>2,'id'=>$video.id])}" data-toggle="tab">问答</a></li>
    </ul>
  </header>
  <div class="panel-body" style="background-color: white">
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="list-group">
          {volist name='video_list' id='vd'}
          <a href="{:url('index/details',['id'=>$vd.lesson_id,'video_id'=>$vd.id])}" class="list-group-item">
            <i class="fa fa-play-circle icon-muted fa-fw" style="color: #000000;font-size: 16px;"></i> {$vd.name}
          </a>
          {/volist}
        </div>
      </div>
      <div class="tab-pane" id="profile">
        <div class="post-sum col-sm-12 no-padder">
          <div class="panel">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse">
                相关教师
              </a>
            </div>
            <div class="panel-collapse in">
              <div class="panel-body text-sm">
                {volist name='with_teachers' id='t_info'}
                <div class="col-sm-3 col-xs-6 col-lg-3 text-center">
                  <section class="panel panel-info">
                    <div class="panel-body">
                                  <span href="#" class="thumb avatar">
                                    <img src="__STATIC__/{$t_info.avatar}" alt="...">
                                  </span>
                      <div class="clear">
                        <a href="#" class="text-info">{$t_info.name}</a>
                      </div>
                    </div>
                  </section>
                </div>
                {/volist}
              </div>
            </div>
          </div>
        </div>
        <div class="post-sum col-sm-12 no-padder">
          <div class="panel">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse">
                课程简介
              </a>
            </div>
            <div class="panel-collapse in">
              <div class="panel-body text-sm lesson-intro">
                {$lesson.intro}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="comment">
        <div class="text-center wrapper hidden is_loadding_dom">
          <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
        </div>
      </div>
      <div class="tab-pane" id="question">
        <div class="text-center wrapper hidden is_loadding_dom">
          <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    $(document).ready(function(){
        // var myvideo=document.getElementById("vplay");

        // $("#vplay").click(function(){
        //     if(myvideo.paused){
        //         myvideo.play();
        //     }
        //     else{
        //         myvideo.pause();
        //     }
        // });

        //点赞/收藏
        $('.thumbsSavebtn').on('click',function () {
            var _this = $(this);
            thumbsSave(_this);
        });

        $('#vplay').on('playing',function () {
            $.ajax({
                type: "post",
                url: "{:url('index/watchVideoAnchor',['id'=>$video.id])}",
                data: {},
                success : function(){
                    // console.log('记录播放视频锚点');
                },
                error: function(){
                    // console.log('记录播放视频锚点');
                }
            });
        });

        //加入课程表
        $('.curriculumSavebtn').on('click',function () {
            var _this = $(this);
            var url = _this.data('href');
            thumbsSave(_this);

            ajax_request(url,{},function (data) {
                if(data.is_ok == 'ok'){
                    layer.msg(data.msg,{icon:1});
                }else{
                    layer.msg('请求失败，请重试',{icon:2});
                }
            })
        });

        function thumbsSave(_this){
            var url = _this.data('href');
            var is_check = _this.children('i').hasClass('text-success');
            var num = _this.siblings('.badge').text();

            layui.use(['layer'], function() {
                var layer = layui.layer;
                ajax_request.post(url, {}, function (data) {
                    if (data.is_ok == 'ok') {
                        if (is_check) {
                            _this.children('i').removeClass('text-success');
                            _this.siblings('.badge').text(parseInt(num) - 1);
                        } else {
                            _this.children('i').addClass('text-success');
                            _this.siblings('.badge').text(parseInt(num) + 1)
                        }
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                })
            });
        }

        //评论信息异步获取
        $('.getCommentBtn').on('click',function () {
            var _this = $(this);
            var is_loadding = _this.find('.is_loadding_dom');
            var url = _this.data('href');
            refreshDom(url,{},'.page-inner #comment',function () {
                is_loadding.show();
            },function () {
                is_loadding.hide();
            })
        });

        //问答信息异步获取
        $('.getQuestionBtn').on('click',function () {
            var _this = $(this);
            var is_loadding = _this.find('.is_loadding_dom');
            var url = _this.data('href');
            refreshDom(url,{},'.page-inner #question',function () {
                is_loadding.show();
            },function () {
                is_loadding.hide();
            })
        });

        //分页数据ajax获取
        $('#comment').on('click',' .page_items .pagination .page-item',function () {
            var _this = $(this);
            var page_link = _this.find('.page-link').prop('href');

            if(page_link){
                refreshDom(page_link,{},'.page-inner #comment');
            }
            return false;
        })
    });
</script>