<style>
    .page_items .pagination{
        display: inline-flex;
    }
    .page_items .pagination .page-item .page-link{
        font-size: 1.2rem;
    }
</style>

{layout name="layouts/layout1" /}
<header class="header bg-light dk padder-lg">
    <p class="font-thin padder recently"><a class="{$params['order']==1?'text-success':''}" href="{:url('index',['order'=>1])}">最新</a></p>
    <p class="font-thin padder popular"><a class="{$params['order']==2?'text-success':''}" href="{:url('index',['order'=>2])}">最热</a></p>
</header>
<section class="scrollable padder-lg padder-v page-inner">
    <div class="row row-sm">
        {eq name="$list|count" value='0'}
        <div class="">
            <div class="caption wrapper-lg text-center">
                <h3 class="post-title"><img class="home-info-png" src="__STATIC__/img/empty-emo.png"></h3>
                <h3 class="post-title">{$params['search_key']?'没找到<span class="text-danger">\"'.$params['search_key'].'\"</span>相关的内容':'什么都没有...'}</h3>
            </div>
        </div>
        {/eq}
        {volist name='list' id='vo'}
        <div class="col-xs-6 col-sm-3 col-md-2">
            <div class="item">
                <div class="pos-rlt">
                    <div class="item-overlay opacity r r-2x bg-black">
                        <div class="center text-center m-t-n">
                            <a href="{:url('index/details',['id'=>$vo.id])}"><i class="fa fa-play-circle i-2x"></i></a>
                        </div>
                    </div>
                    <a href="#"><img src="__STATIC__{$vo.poster}" alt="" style="height: 7em;" class="r r-2x img-full"></a>
                </div>
                <div class="padder-v">
                    <a href="{:url('index/details',['id'=>$vo.id])}" class="text-ellipsis">{$vo.name}</a>
                    <!--<a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>-->
                </div>
            </div>
        </div>
        {/volist}
    </div>

    <div class="row text-center page_items">
        {$list->render()}
    </div>
</section>