{layout name="layouts/layout" /}
<style>
    .question-content img{
        max-width: 30rem;
    }
</style>
<section class="scrollable padder-lg padder-v page-inner">
    <div class="m-t">
        <p class="h5">
            <a href="{:url('index/details',['id'=>$breadcrumbs.lesson_id])}">{$breadcrumbs.lesson_name}</a>
            \
            <a href="{:url('index/details',['id'=>$breadcrumbs.lesson_id,'video_id'=>$breadcrumbs.video_id])}">{$breadcrumbs.video_name}</a>
        </p>
        <div class="row m-t-sm">
            <div class="col-xs-12 ">
                <div class="bg hidden-xs ">
                    <div class="clearfix">
                        <a href="#" class="pull-left thumb-sm avatar b-3x m-r">
                            <img src="__STATIC__/{$question.student_avatar}" alt="...">
                        </a>
                        <div class="clear">
                            <div class="h4 m-t-sm m-b-sm text-dark" style="color: #333333">
                                <p class="text-info">{$question.student_name}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t">
        <div class="row row-sm">
            <section class="panel panel-default">
                <section class="panel-body">
                    <article class="media">
                        <div class="media-body">
                            <div class="pull-right media-xs text-center text-muted">
                                <small class="label bg-light">{$question.create_time|date='Y-m-d H:i',###}</small>
                            </div>
                            <p class="h4 m-b">{$question.content}</p>
                            <small class="block m-t-sm question-content">{$question.title}</small>
                        </div>
                    </article>
                </section>
            </section>
        </div>

        <div class="row row-sm">
            <section class="comment-list block">
                {volist name='reply' id='item'}
                <article id="comment-id-1" class="comment-item">
                    <a class="pull-left thumb-sm avatar">
                        <img src="__STATIC__/{$item.comment_uname_avatar}" class="img-circle" alt="...">
                    </a>
                    <span class="arrow left"></span>
                    <section class="comment-body panel panel-default">
                        <header class="panel-heading bg-white">
                            <a href="#">{$item.comment_uname}</a>
                            <span class="text-muted m-l-sm pull-right">
                                <i class="fa fa-clock-o"></i>
                                {$item.create_time|date='Y-m-d H:i',###}
                            </span>
                        </header>
                        <div class="panel-body">
                            <div>{$item.content}</div>
                            <div class="comment-action m-t-sm">
                                <a href="#comment-form" class="btn btn-default btn-xs">
                                    <i class="fa fa-mail-reply text-muted"></i> 回复
                                </a>
                            </div>
                        </div>
                    </section>
                    {volist name='item.child' id='child'}
                    <article class="comment-item comment-reply">
                        <a class="pull-left thumb-sm avatar">
                            <img src="__STATIC__/{$child.comment_uname_avatar}" alt="...">
                        </a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel panel-default text-sm">
                            <div class="panel-body">
                          <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            {$child.create_time|date='Y-m-d H:i',###}
                          </span>
                                <a href="#">{$child.comment_uname}</a>
                                {$child.content}
                                <div class="comment-action m-t-sm">
                                    <a href="#comment-form" class="btn btn-default btn-xs">
                                        <i class="fa fa-mail-reply text-muted"></i> 回复
                                    </a>
                                </div>
                            </div>
                        </section>
                    </article>
                    {/volist}
                </article>
                {/volist}
                <!-- .comment-reply -->
                <article class="comment-item media" id="comment-form">
                    <a class="pull-left thumb-sm avatar"><img src="/bigdata/public/static/\uploads\poster\5c3364a531495.jpg" alt="..."></a>
                    <section class="media-body">
                        <form action="index.html" class="m-b-none">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Input your comment here">
                                <span class="input-group-btn">
                              <button class="btn btn-primary" type="button">POST</button>
                            </span>
                            </div>
                        </form>
                    </section>
                </article>
            </section>
        </div>

        <div class="row text-center page_items">
            {$reply->render()}
        </div>
    </div>
</section>