{layout name="layouts/layout1" /}
<style>
  .video_params .list-group-item,.panel{
    background-color:#f2f4f8;
  }
  .video_params .panel{
    border: none;
  }
  .suggestion {
    background-color: white;
  }

</style>
  <div class="row">
      <div class="col-sm-12">
        <div class="panel clearfix">
          <div class="panel-body">
            <a href="#" class="thumb pull-left m-r">
              <img src="__STATIC__/{$lesson.poster}" class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
              <small class="block text-muted">2,415 followers / 225 tweets</small>
              <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
            </div>
          </div>
        </div>
      </div>
  </div>
   <div class="row">
      <div class="col-sm-8">
        <div class="panel">
          <!-- video player -->
          <div id="jp_container_1" class="teacher_info">
            <div class="jp-type-single pos-rlt">
              <div id="jplayer_1" class="jp-jplayer jp-video" style="width: 100%; height: auto;">
                <video id="vplay" src="__STATIC__/\uploads\videos\2.mp4" poster="__STATIC__/{$lesson.poster}" style="width: 100%;object-fit: fill"  controls="controls"></video>
              </div>
            </div>
          </div>
          <!-- / video player -->
          <div class="wrapper-lg">
            <h2 class="m-t-none text-black">Big Buck Bunny Trailer</h2>
            <div class="post-sum">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
              <br><br>
              Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
            </div>
            <div class="line b-b"></div>
            <div class="text-muted">
              <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">Admin</a>
              <i class="fa fa-clock-o icon-muted"></i> Feb 20, 2013
              <a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> 3 comments</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 video_params">
          <div class="panel panel-default">
            <!--<div class="panel-heading">Suggestions</div>-->
            <ul class="list-group">
              <li class="list-group-item">
                <div class="">
                  <i class="icon-drawer"></i>
                  <span class="badge pull-right">类别一</span>
                  所属区
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-eye"></i>
                  <span class="badge pull-right">200</span>
                  观看量
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-like"></i>
                  <span class="badge pull-right">30</span>
                  点赞量
                </div>
              </li>
              <li class="list-group-item">
                <div class="">
                  <i class="icon-heart"></i>
                  <span class="badge pull-right">30</span>
                  收藏量
                </div>
              </li>
            </ul>
            <div class="panel-body m-t-sm suggestion">
              <article class="media">
                <a href="#" class="thumb-lg m-t-xs" style="width: auto">
                  <img src="/bigdata/public/static/\uploads\poster\5c31a1d68b39c.jpg">
                </a>
                <div class="media-body">
                  <a href="#" class="font-semibold" title="课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3课程3">课程3课程3课程3课程3课程3...</a>
                </div>
              </article>

              <article class="media">
                <a href="#" class="pull-left thumb-lg m-t-xs">
                  <img src="__STATIC__/{$lesson.poster}">
                </a>
                <div class="media-body">
                  <a href="#" class="font-semibold" title="{$lesson.name}">{$lesson.name|msubstr=0,15,'utf-8',true}</a>
                  <div class="text-xs block m-t-xs"><i class="icon-fire"></i> 2302
                  </div>
                </div>
              </article>
              <article class="media">
                <a href="#" class="pull-left thumb-lg m-t-xs">
                  <img src="__STATIC__/{$lesson.poster}">
                </a>
                <div class="media-body">
                  <a href="#" class="font-semibold" title="{$lesson.name}">{$lesson.name|msubstr=0,15,'utf-8',true}</a>
                  <div class="text-xs block m-t-xs"><i class="icon-fire"></i> 2302
                  </div>
                </div>
              </article>
              <article class="media">
                <a href="#" class="pull-left thumb-lg m-t-xs">
                  <img src="__STATIC__/{$lesson.poster}">
                </a>
                <div class="media-body">
                  <a href="#" class="font-semibold" title="{$lesson.name}">{$lesson.name|msubstr=0,15,'utf-8',true}</a>
                  <div class="text-xs block m-t-xs"><i class="icon-fire"></i> 2302
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
    </div>
<script>
    $(document).ready(function(){
        var myvideo=document.getElementById("vplay");

        $("#vplay").click(function(){
            if(myvideo.paused){
                myvideo.play();
            }
            else{
                myvideo.pause();
            }
        });
    });
</script>