<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BigData Admin</title>
  <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
  <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
  <link rel="shortcut icon" href="__STATIC__/img/favicon.png" />
  <script src="__STATIC__/js/jquery-3.3.1.min.js"></script>
  <script src="__STATIC__/js/layer/layer.js"></script>
  <script src="__STATIC__/js/layui/layui.js"></script>
  <script src="__STATIC__/js/commom.js"></script>
</head>
<style>
  .admin-login-title{
    text-align: center;
  }
  #InputEmail::-webkit-input-placeholder,#InputPassword::-webkit-input-placeholder,#userType::-webkit-input-placeholder {
    color: #8d98a7;
  }
</style>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
          <div class="row w-100">
            <div class="col-lg-5 mx-auto">
              <div class="auth-form-dark text-left p-5">
                <h2 class="admin-login-title">管理员登陆</h2>
                <form class="pt-5">
                  <form id="admin-login-form">
                    <div class="form-group">
                      <label for="InputEmail">用户名</label>
                      <input type="name" class="form-control require" id="InputEmail" data-name="用户名" autocomplete="off" placeholder="请输入用户名">
                      <i class="mdi mdi-account"></i>
                    </div>
                    <div class="form-group">
                      <label for="InputPassword">密码</label>
                      <input type="password" class="form-control require" id="InputPassword" data-name="密码" placeholder="请输入密码">
                      <i class="mdi mdi-eye"></i>
                    </div>
                    <div class="form-group">
                      <label for="userType">身份</label>
                      <select class="form-control" id="userType">
                        <option value="1" style="color: #333333">学生</option>
                        <option value="2" style="color: #333333">教师</option>
                      </select>
                    </div>
                    <div class="mt-5">
                      <a class="btn btn-block btn-warning btn-lg font-weight-medium">登录</a>
                    </div>
                    <!--<div class="mt-3 text-center">-->
                      <!--<a href="#" class="auth-link text-white">Forgot password?</a>-->
                    <!--</div>-->
                  </form>                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>

    $(function () {
        function login(){
            if(verifyinput()){
                var name = $('#InputEmail').val();
                var pass = $('#InputPassword').val();
                // var type = $('#userType').val();
                var type = $('#userType option:selected').val();
                $.post("{:url('index/loginverify')}",{name:name,password:pass,type:type},function (data) {
                    if(data.is_ok == 'ok'){
                        location.assign("{:url('index/index')}");
                    }else{
                        layer.msg(data.msg,{icon:2});
                    }
                });
            }
        }

        $(document).keypress(function(e) {
            if((e.keyCode || e.which)==13) {
                login();
            }
        });
        $('.btn-lg').on('click',function () {
            login();
        });
    });


</script>
</html>
