<style>
    #adminlesson{
        min-height: 90%;
    }
    #adminlesson .card{
        min-height: 100%;
    }
    #adminlesson #edit,#del{
        color: #ffffff;
    }
</style>

{layout name="layouts/layout" /}
<div class="row"  id="adminlesson">
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="align-items-center mb-1 justify-content-between d-lg-flex d-xl-flex d-md-block d-block">
                    <h2 class="">课程总览</h2>
                    <div class="nav-wrapper d-inline-block mt-4 mt-lg-0">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link btn btn-light mr-1" id="addLesson" href="#" data-title="添加课程"
                                   onclick="addlesson()"><i style="font: inherit" class="layui-icon layui-icon-add-1"></i>添加</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-light mr-1" href="#"><i style="font: inherit" class="layui-icon layui-icon-up"></i>导入</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>课程名</th>
                            <th>课程封面</th>
                            <th>相关教师</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='list' id='vo'}
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.name}</td>
                            <td><img src="__STATIC__/uploads/poster/{$vo.poster}" width="100px" alt=""></td>
                            <td><img src="__STATIC__/{$vo.poster|DSFormat}" width="100px" alt=""></td>
                            <td>教师</td>
                            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                            <td>
                                <!--<button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>-->
                                    <a class="layui-btn layui-btn-primary layui-btn-xs" id="detail" lay-event="detail">查看</a>
                                    <a class="layui-btn layui-btn-xs" lay-event="edit" id="edit">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" id="del" lay-event="del" onclick="del({$vo.id})">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <p class="mb-0">Showing {$list->listRows()*($list->currentPage()-1)} to {$list->total()-($list->listRows()*($list->currentPage()-1))} of {$list->total()} entries</p>
                    <nav>
                        {$list->render()}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addlesson() {
        rePositionLayuiIframe('添加新课程');
        layui.use(['layer'], function () {
            var layer = layui.layer;

            layer.open({
                type: 2
                , title: '添加新课程'
                , area: ['800px', '600px']
                , shade: 0.3//弹出后背景的阴影
                , offset: 'auto'
                , content: '{:url("admin/lessonAdd")}'
                , btn: ['提交','取消']
                , btnAlign:'c'
                , yes: function (index,layero) {
                    //获取弹出层的表单
                    var form = layer.getChildFrame('#myform', index);
                    //调用弹出层的富文本同步方法
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    iframeWin.syncTexrarea();
                    //ajax添加课程
                    ajax_request.post('{:url("admin/lessonSaveAdd")}',form.serialize(),function (res) {
                        if(res.is_ok == 'ok'){
                            layer.msg(res.msg,{icon:6});
                            layer.close(index);
                            location.reload();//刷新页面
                        }else{
                            layer.msg(res.msg,{icon:5});
                        }
                    })
                }
                , btn2:function (index, layero){
                    layer.close(index);//关闭当前
                }
                , zIndex: layer.zIndex //重点1
                , success: function (index,layero) {
                    // layer.setTop(layero); //重点2
                    // var intro = layer.getChildFrame('#intro', index).prop('id');
                    // layedit.builder(intro,'{:url("admin/layeditUpload")}');
                }
            });
        });
    }
    
    // function del(id) {
    //
    // }

    function del(id) {
        layui.use("layer", function () {
            var layer = layui.layer;  //layer初始化
            layer.confirm('确认删除',{btn:['确认','取消']},
                function () {
                    $.post("{:url('admin/lessondel')}",{"id":id},function (data) {
                        if(data.is_ok=='ok'){
                            location.reload();//刷新页面
                            layer.msg(data.msg,{icon:6});
                        }else{
                            layer.msg(data.msg,{icon:5});
                        }
                    });
                });
        });
    }

    //在iframe中关闭自身
    //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //parent.layer.close(index); //再执行关闭
</script>