<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BigData Admin</title>
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="__STATIC__/js/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/js/cropper/cropper.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <!--<link rel="stylesheet" href="__STATIC__/js/layer/mobile/need/layer.css">-->
    <link rel="shortcut icon" href="__STATIC__/img/favicon.png" />
    <script type="text/javascript" src="__STATIC__/js/layui/layui.js"></script>
    <!--<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>-->
    <script type="text/javascript" src="__STATIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/commom.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layui-xtree.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layui_exts/excel.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layui_exts/FileSaver.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layui_exts/xlsx.js"></script>
    <!--<script type="text/javascript" src="__STATIC__/js/cropper/cropper.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/js/cropper/croppers.js"></script>-->
</head>
<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img style="height: 43px;width: 43px" src="__STATIC__/admin/images/logo.svg" alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <p class="page-name d-none d-lg-block">Hi, BIGDATA</p>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item d-none d-sm-block profile-img">
                    <a class="nav-link profile-image" href="#">
                        <img src="__STATIC__/admin/images/auth/avatar.jpeg" alt="profile-img">
                    </a>
                </li>
                <li class="nav-item d-none d-sm-block profile-img">
                    <a class="nav-link profile-image" title="退出" href="{:url('admin/logout')}">
                        <i class="iconfont icon-bigdata-exit exit" style="color: #bdbdbd"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="offcanvas">
                <span class="icon-menu icons"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- sidebar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-item-checked">
                        <a href="{:url('admin/index')}" class="nav-link <?php if(request()->path()=='admin/index') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-home "></i>主页</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-checked">
                        <a href="{:url('admin/dept')}" class="nav-link <?php if(request()->path()=='admin/dept') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-dept"></i>部门管理</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-checked">
                        <a href="{:url('admin/type')}" class="nav-link <?php if(request()->path()=='admin/type') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-type"></i>课程类别</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-checked">
                        <a href="{:url('admin/lesson')}" class="nav-link <?php if(request()->path()=='admin/lesson') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-lesson "></i>课程管理</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-checked">
                        <a href="{:url('admin/video')}" class="nav-link <?php if(request()->path()=='admin/video') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-video "></i>视频管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('admin/teacher')}" class="nav-link <?php if(request()->path()=='admin/teacher') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-teacher "></i>教师管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('admin/student')}" class="nav-link <?php if(request()->path()=='admin/student') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-student "></i>学生管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('admin/comment')}" class="nav-link <?php if(request()->path()=='admin/comment') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-comment"></i>评论管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('admin/question')}" class="nav-link <?php if(request()->path()=='admin/question') echo 'nav-link-check'; ?>">
                            <span class="menu-title"><i class="iconfont icon-admin-question"></i>问答管理</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- content -->
            <div class="content-wrapper">
                {__CONTENT__}
            </div>
            <!-- footer -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © xxx</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">created by lee <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>

</html>
<script type="text/javascript">
    layui.config({
        base: 'layui_exts/',
    }).extend({
        excel: 'excel'
    });
    // layui.config({
    //     base: 'cropper/'
    // }).extend({
    //     cropper: 'cropper'
    // })
</script>